#body_element {
    margin: 4rem;
    display: flex;
    flex-direction: column;
}

/* Header */

#header_div {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#logo_div {
    display: flex;
    flex-direction: row;
}

.knife_and_fork {
    width: 65px;
    height: 65px;
}

#logo_child {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Dancing Script';
    font-size: 3rem;
    font-weight: bold;
}

#logo_child p {
    font-family: Dosis;
}

#social_media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#social_media div {
    margin: 5px;
}

.line_break {
    width: 100%;
    height: 8px;
    background-image: url("/assets/hr-img.png");
}

/* Main */

